<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>

	<style>
		.arriving{
			background-color: #FFF8C6;
		}

		.arriving font{
			color: #000000;
		}

		.away{
			background-color: #E6E6E6;
		}

		.away font{
			color: #A4A4A4;
		}
	</style>
	<body>

		<title>Bus Console</title>

		<div id="mainDiv">
			<div class="row">
				<div class="col-xs-6">
					
				<div class="page-header">
				  <center><h1>Bus Routes</h1></center>
				</div>


				<div class="table-responsive">
					<table class="table table-bordered">

						<tr><td align="center" id="07571" class="away">
							<font><b>Bus Stop ID:</b> 07571 <br/>
							<b>Bus Stop Name:</b> Opp Prime Ctr</font>
						</td></tr>

						<tr><td align="center" id="04189" class="away">
							<font><b>Bus Stop ID:</b> 04189 <br/>
							<b>Bus Stop Name:</b> Manulife Ctr</font>
						</td></tr>

						<tr><td align="center" id="04159" class="away">
							<font><b>Bus Stop ID:</b> 04159 <br/>
							<b>Bus Stop Name:</b> Aft Chijmes</font>
						</td></tr>

						<tr><td align="center" id="04149" class="away">
							<font><b>Bus Stop ID:</b> 04149 <br/>
							<b>Bus Stop Name:</b> Grand Park City Hall</font>
						</td></tr>

						<tr><td align="center" id="04229" class="away">
							<font><b>Bus Stop ID:</b> 04229 <br/>
							<b>Bus Stop Name:</b> High St Ctr</font>
						</td></tr>

						<tr><td align="center" id="04239" class="away">
							<font><b>Bus Stop ID:</b> 04239 <br/>
							<b>Bus Stop Name:</b> Clarke Quay Station</font>
						</td></tr>

						<tr><td align="center" id="05059" class="away">
							<font><b>Bus Stop ID:</b> 05059 <br/>
							<b>Bus Stop Name:</b> Hong Lim Pk</font>
						</td></tr>

						<tr><td align="center" id="05049" class="away">
							<font><b>Bus Stop ID:</b> 05049 <br/>
							<b>Bus Stop Name:</b> Chinatown Pt</font>
						</td></tr>

						<tr><td align="center" id="05039" class="away">
							<font><b>Bus Stop ID:</b> 05039 <br/>
							<b>Bus Stop Name:</b> New Bridge Ctr</font>
						</td></tr>

					</table>
				</div>


				</div>

				<div class="col-xs-6">
					<div class="page-header">
				  		<center><h1>Blind Man Boarding</h1></center>
					</div>

					<div>
						<center><u><font size="10" id="number">0</font></u></center>
					</div>

				</div>

			</div>



		</div>

		<div id="myModal" class="modal fade">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title">Notice</h4>
		            </div>
		            <div class="modal-body">
		                <p>A blind man will be alighting at this stop</p>
		                <p class="text-warning"><small>Please provide assistance.</small></p>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
		            </div>
		        </div>
		    </div>
		</div>

	</body>

	<script>
		$(document).ready(function(){
			$.ajax({
        url: "<%= blind_man_number_pages_path %>",
        type: "POST",
        dataType: "json",
        success: function(data){
        	$("#" + data.stop_id).addClass("arriving");
        	$("#" + data.stop_id).removeClass("away");
        	$("#number").html(data.count);
        	if (data.alighting){
        		$("#myModal").modal('show');
        	}
        },error: function(jqXHR, textStatus, errorThrown) {
			  	console.log(textStatus, errorThrown);
				}
    	});
		})
		
	</script>

</html>