<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>

	<body>

		<title>Bus Console</title>

		<div id="mainDiv">
			<div class="row">
				<div class="col-xs-6">
					
				<div class="page-header">
				  <center><h1>Bus Routes</h1></center>
				</div>


				<div class="table-responsive">
					<table class="table table-bordered">

						<tr><td align="center">
							<b>Bus Stop ID:</b> 07571 <br/>
							<b>Bus Stop Name:</b> Opp Prime Ctr
						</td></tr>

						<tr bgcolor="#E6E6E6"><td align="center">
							<font color="#A4A4A4"><b>Bus Stop ID:</b> 04189 <br/>
							<b>Bus Stop Name:</b> Manulife Ctr</font>
						</td></tr>

						<tr bgcolor="#E6E6E6"><td align="center">
							<font color="#A4A4A4"><b>Bus Stop ID:</b> 04179 <br/>
							<b>Bus Stop Name:</b> NTUC Income Ctr</font>
						</td></tr>

						<tr bgcolor="#E6E6E6"><td align="center">
							<font color="#A4A4A4"><b>Bus Stop ID:</b> 02049 <br/>
							<b>Bus Stop Name:</b> Raffles Hotel</font>
						</td></tr>

						<tr bgcolor="#E6E6E6"><td align="center">
							<font color="#A4A4A4"><b>Bus Stop ID:</b> 40019 <br/>
							<b>Bus Stop Name:</b> Opp  Singapore Cricket Club</font>
						</td></tr>

						<tr bgcolor="#E6E6E6"><td align="center">
							<font color="#A4A4A4"><b>Bus Stop ID:</b> 07539 <br/>
							<b>Bus Stop Name:</b> OUE Bayfront</font>
						</td></tr>

						<tr bgcolor="#E6E6E6"><td align="center">
							<font color="#A4A4A4"><b>Bus Stop ID:</b> 07517 <br/>
							<b>Bus Stop Name:</b> One Raffles Quay</font>
						</td></tr>

						<tr bgcolor="#E6E6E6"><td align="center">
							<font color="#A4A4A4"><b>Bus Stop ID:</b> 05417 <br/>
							<b>Bus Stop Name:</b> UIC Bldg</font>
						</td></tr>

						<tr bgcolor="#E6E6E6"><td align="center">
							<font color="#A4A4A4"><b>Bus Stop ID:</b> 07237 <br/>
							<b>Bus Stop Name:</b>Opp AXA Tower</font>
						</td></tr>

					</table>
				</div>


				</div>

				<div class="col-xs-6">
					<div class="page-header">
				  		<center><h1>Blind Man Boarding</h1></center>
					</div>

					<div>
						<center><u><font size="10">0</font></u></center>
					</div>

				</div>

			</div>



		</div>



	</body>

</html>