<h1>StaticPages#home</h1>

<%= form_tag(pages_path, :method=>'post', :multipart => true) do %>
 <p>
   Add an attachment:<br />
   <%= file_field_tag "attachment", accept: 'audio/*', capture: true %>
 </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>
