<html>
	<head>		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAR1vamnfgS8CpNgUoBusEAkFkjfT634JY"></script>
		
		<script>

    </script>

		<style>
			#mainDiv {
    			margin-left: 35px;
    			margin-right: 35px;
    			text-align: center;
			}

			#instructionsID ul {
				display:table; 
				margin:0 auto;
			}

			#audio-player {
				opacity: 0.1; /* This is to make the audio tag transparent/invisible */
			}

			.btn-big {
				height: 1000px;
				width: 800px;
			}
		</style>
	</head>
	<!--<body onclick="trackNumClick()">-->
	<body>

		<title>Bus Selection</title>
		
		<div id="mainDiv">
			<div class="row">
				<div class="page-header col-md-12">

					<audio controls id="audio-player">
						<!-- change this to suit the occassion-->
					  	<!-- based on index.html selection, javascript will manipulate this html portion-->
					</audio>

					<h1>Requesting for Bus Number</h1>
				</div>
			</div>

			<br/>

			<div id="map-canvas" hidden></div>
			<div class="row">
				<div class="col-md-12">
					<b><font size="6">Bus Number <br/><u><span class="tapValue"><font color="red" id="result"><%= $number %></font></span></u></font></b>
				</div>
			</div>

		</div>
	</body>
</html>
<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
<script>

	// enable vibration support
	navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;

	$(document).ready(function () {

		var map;
    var service;
    var marker;
    var pos;
    var infowindow;
    var geocoder;
    var markersArray = new Array();
    var gmarkers = [];
    var hasBoarded = false;
    var shakeDetected = false;
    var serviceNo, stopID, sequenceNo, busStopName;

    function initialize() {
      geocoder = new google.maps.Geocoder();
      var mapOptions = {
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          panControl: false,
          streetViewControl: false,
          mapTypeControl: false
      };

      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      callGeolocation();
      
      //HTML5 geolocation - throw into function
      function callGeolocation() {
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(function(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                var myLocation = new google.maps.LatLng(lat, lng);
                geocoder.geocode({'latLng': myLocation}, function(results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        if (results[1]) {
                            map.setZoom(18);
                            marker = new google.maps.Marker({
                                position: myLocation,
                                draggable: false,
                                //animation: google.maps.Animation.DROP,
                                map: map
                            });
                            gmarkers.push(marker);
                        } else {
                            alert('No results found');
                        }
                    }
                });
                pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                var request = {
                    location: pos,
                    radius: 150,
                    types: ['bus_station']
                };

                map.setCenter(pos);

                infowindow = new google.maps.InfoWindow();
                var service = new google.maps.places.PlacesService(map);
                service.nearbySearch(request, callback);
            }, function() {
                handleNoGeolocation(true);
            });
        } else {
            handleNoGeolocation(false);
        }
      }

      function callback(results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
              //for (var i = 0; i < results.length; i++) {
              	console.log(results[0].place_id);
              var url= "https://busservices.firebaseio.com/stopsPlaceId/" + results[0].place_id + ".json";        
			        console.log(url);
			        $.getJSON(url, function(data) {
			            busStopName = data.name;
			            //bus stop ID is stopID
			            stopID = data.stopId;
			            //console.log(stopID);   
			            var busNo = "<%= $number.gsub!(' ', '') %>";
					        url= "https://intelbus.herokuapp.com/?id=" + stopID + "&serviceNo=" + busNo;        
					        console.log(url);
					        $.getJSON(url, function(data) {
					            	$("#result").val("You have entered an invalid choice.");
					        });     
			        });
          }
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    

		function blinker() {
			$('.blinking').fadeOut(300);
			$('.blinking').fadeIn(300);
		}
		setInterval(blinker, 1000);

		var result = "<%= $number %>";
		setTimeout(function(){
			if (result.indexOf("invalid choice") > -1){
				responsiveVoice.speak("You have entered an invalid choice. Please hold while we redirect you.");

				setTimeout(function(){
					window.location.replace("/pages/new")
				}, 5000);

			} else {
				responsiveVoice.speak("You will be boarding bus " + result + ". Double tap to cancel.");
				setTimeout(function(){
					window.location.replace("/pages/test")
				}, 10000);
			}
		}, 2000); 

		$('body').dblclick(function() {
			window.location.replace("pages/new");
		});
		
	});



</script>