/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Feb, 2016, 4:07:02 PM
    Author     : Keithyl
*/
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#map-canvas {
    height:65%;
    width:100%;
    margin: 0 auto 15px auto;
}

#busTiming {
    width:100%; 
    margin: 0 auto 0 auto;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}